<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style3.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <div class="titel">
        <h4>Dashboard</h4>
        <p>Proktos Cursussen</p>
    </div>
    <div id="sidebox"></div>
    <div id="profile-picture"><a href="/logout"><svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.5 3.5H26.25C27.1783 3.5 28.0685 3.86875 28.7249 4.52513C29.3813 5.1815 29.75 6.07174 29.75 7V8.75C29.75 9.21413 29.5656 9.65925 29.2374 9.98744C28.9092 10.3156 28.4641 10.5 28 10.5C27.5359 10.5 27.0908 10.3156 26.7626 9.98744C26.4344 9.65925 26.25 9.21413 26.25 8.75V7H10.5V35H26.25V33.25C26.25 32.7859 26.4344 32.3408 26.7626 32.0126C27.0908 31.6844 27.5359 31.5 28 31.5C28.4641 31.5 28.9092 31.6844 29.2374 32.0126C29.5656 32.3408 29.75 32.7859 29.75 33.25V35C29.75 35.9283 29.3813 36.8185 28.7249 37.4749C28.0685 38.1313 27.1783 38.5 26.25 38.5H10.5C9.57174 38.5 8.6815 38.1313 8.02513 37.4749C7.36875 36.8185 7 35.9283 7 35V7C7 6.07174 7.36875 5.1815 8.02513 4.52513C8.6815 3.86875 9.57174 3.5 10.5 3.5V3.5Z" fill="black"/>
        <path d="M29.3913 28.5162C30.0738 29.1987 31.1762 29.1987 31.8587 28.5162L38.1377 22.2372C38.4658 21.9091 38.6501 21.464 38.6501 21C38.6501 20.5359 38.4658 20.0909 38.1377 19.7627L31.8587 13.4837C31.5261 13.1831 31.0906 13.0217 30.6424 13.033C30.1941 13.0443 29.7674 13.2275 29.4503 13.5445C29.1332 13.8616 28.9501 14.2884 28.9388 14.7366C28.9275 15.1849 29.0888 15.6203 29.3895 15.953L32.6725 19.25H17.5C17.0359 19.25 16.5908 19.4344 16.2626 19.7625C15.9344 20.0907 15.75 20.5358 15.75 21C15.75 21.4641 15.9344 21.9092 16.2626 22.2374C16.5908 22.5656 17.0359 22.75 17.5 22.75H32.6725L29.3895 26.047C29.0628 26.3749 28.8796 26.8191 28.8799 27.282C28.8802 27.7449 29.0641 28.1887 29.3913 28.5162Z" fill="black"/>
    </svg> </a>       </div>
    <div id="gemiddeld">
        <div id="gemiddeld-back"></div>
        <h3>gemiddeld cijfer</h3>
        <h1>7.3</h1>
    </div>

    <div id="afgerond">
        <div id="afgerond-back"></div>
        <h3>Afgeronde lessen</h3>
        <h1>64%</h1>
    </div>
    <div id="courses">
        <% for(let i = 0; i < courses.length; i++){ %>
            <div class="course">
            <img src="<%=courses[i]["img"]%>" alt="botox">
            <h3><%=courses[i]["name"]%></h3>
            <p><%=courses[i]["info"]%></p>
            <div id="empty"><div id="progress"></div></div>
            <span>68%</span>
            <div class="sorts">
              <ul>
                  <li> <a href="/info/<%=courses[i]["id"]%>">Theorie</a></li>
                  <li> <a href="/movie/<%=courses[i]["id"]%>">Film</a></li>
                  <li> <a href="/quiz/<%=courses[i]["id"]%>/0">Quiz</a></li>
                
                </ul>  
            </div>
        </div>
    
        </a>
        <% } %>
    </div>
    <div id="chart"> </div>
</body>
</html>