<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quiz</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylequiz.css">
</head>
<body>
    <div id="box">
        <h1><%=main_question%></h1>
        <ul>
            <form action="?"  method="post">
                <% let abcde = ['a', 'b', 'c', 'd', 'e']; %>
                <% for (var i =0; i < answers.length;  i++ ) { %>
                    <li><button type="submit" name="value" value=<%=i%>><%=abcde[i]%>: <%=answers[i]%></button></li>
                <% } %>
            </form> 
        </ul>
    </div>
    <a class="skip-button" id="previous" href=<%=previous%>>Vorige</a>
    <a class="skip-button" id="next" href= <%=next%>>Volgende</a>
    <script>
        let next_button = document.getElementById("next");
        let previous_button = document.getElementById("previous");
        let index = <%=next%> - 1;
        if(index >= <%=total_questions%>-1){
            next_button.style.visibility = "hidden";
        }
        if(index <= 0){
            previous_button.style.visibility = "hidden";
        }
    </script>
</body>
</html>