<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proctos Academy</title>
    <link rel="icon" type="image/png" href="https://proctoskliniek.nl/wp-content/themes/understrap-child/inc/media/logo_sticky2.png "/>
    <link rel="stylesheet" href="/css/resultsstyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main-box">
        <% let wrongs = []; %>
        <% let abc = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't']; %>
        <%for(let i = 0;i<info.length;i++){ %>
            <div id="q-box">
                <h1>Q<%=i+1%></h1>
                <h2><%=questions[i]%></h2>
                <div class="a-box" id="<%=abc[i]%>">
                    <%if(info[i] == "Geen antwoord ingevuld"){ %>
                        <h3>Geen antwoord ingevuld</h3>
                        <% wrongs.push(abc[i])%>
                    <%} else{%>
                        <h3><%=answers[i][info[i]]%></h3>
                    <%}%>
                </div>
            </div>
        <%}%>
    </div>
    <div id="under-box">
        <a href="/dashboard">Naar dashboard</a>
    </div>

    <div id="top-box">
        <div id="correct">
            <h4>Vragen correct</h4>
            <h2><%=amount%>/<%=questions.length%></h2>
        </div>
        <div id="grade">
            <h4>Cijfer</h4>
            <h2><%=grade%></h2>
        </div>
    </div>
    <div id="back-box"></div>

    <%for(let i = 0;i<correct.length;i++){%>
    <style>
        <%if(i == correct[i]){%>
            #<%=abc[i]%>{
                border: solid 3px green;
            }
        <%} else{%>
            #<%=abc[i]%>{
                border: solid 3px red;
            }
        <%}%>    
    </style>

    <%}%>

</body>
</html>